[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
requests = "*"

[dev-packages]
flake8 = "*"
jedi = "==0.17.2"
black = "*"
ipython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
